@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Lobster&family=Montserrat:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-menu {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 530px) {
  .nav-menu {
    display: none;
    width: 100vw;
    height: 150px;
    position: fixed;
    left: 0px;
    top: 60px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #f0f8ff;
    color: black;
    text-shadow: none;
    box-shadow: 17, 17, 26, 0.1 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    padding: 25px 35px;
    border-radius: 10px;
  }
}

.header__title {
  font-size: 24px;
  font-family: "Lobster", cursive;
}
.header__icon {
  width: 25px;
}
.header__cart-box {
  position: relative;
  cursor: pointer;
}
.header__cart-circle {
  display: none;
  text-align: center;
  position: absolute;
  width: 15px;
  height: 15px;
  right: -3px;
  top: -2px;
  background-color: #cc5500;
  border-radius: 50px;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 250px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}
@media (max-width: 530px) {
  .card {
    align-items: center;
  }
}
.card__img {
  width: 225px;
  height: 200px;
  border: 1px solid aliceblue;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  margin-bottom: 5px;
}
.card__description {
  text-align: center;
  color: gray;
}
.card__price {
  text-align: center;
  font-weight: 600;
  color: #001a33;
}
.card__shopping-cart {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 80px;
  left: 110px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #cc5500;
  cursor: pointer;
}
.card__cart-icon {
  position: absolute;
  top: 6px;
  left: 6px;
}

.card:hover .card__shopping-cart {
  visibility: visible;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 280px;
  background: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 5px;
  padding-bottom: 20px;
}
.shopping-cart__cross {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  color: #778899;
}
.shopping-cart__cross:hover {
  opacity: 1;
}
.shopping-cart__cross:before, .shopping-cart__cross:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 5px;
  background-color: #001a33;
  border-radius: 1px;
}
.shopping-cart__cross:before {
  transform: rotate(45deg);
}
.shopping-cart__cross:after {
  transform: rotate(-45deg);
}
.shopping-cart__title {
  align-self: center;
  font-size: 24px;
  font-family: "Lobster", cursive;
  color: #001a33;
  margin-top: 50px;
  height: 5%;
  width: 100px;
}
.shopping-cart__content {
  height: 85%;
  overflow-y: auto;
}
.shopping-cart__total {
  font-size: 24px;
  font-family: "Lobster", cursive;
  color: #001a33;
  height: 5%;
  margin-bottom: 10px;
  width: 150px;
  align-self: center;
}
.shopping-cart__checkout {
  height: 5%;
  width: 175px;
  align-self: center;
  background: #cc5500;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.shopping-cart__card {
  display: flex;
  margin: 15px 15px;
  justify-content: space-between;
}
.shopping-cart__card-content {
  display: flex;
  gap: 25px;
}
.shopping-cart__card-image {
  width: 100px;
  height: 80px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 5px;
}
.shopping-cart__card-title {
  color: #001a33;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 10px;
}
.shopping-cart__card-price {
  color: #778899;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  margin-bottom: 10px;
}
.shopping-cart__card-remove {
  color: #778899;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  cursor: pointer;
}
.shopping-cart__counter {
  display: flex;
  flex-direction: column;
}
.shopping-cart__counter-num {
  color: #001a33;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
.shopping-cart__arrow-up {
  color: #cc5500;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.shopping-cart__arrow-down {
  color: #cc5500;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 530px) {
  .hamburger {
    display: block;
    position: relative;
    background-color: #cc5500;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    margin-top: 1px;
  }
  .hamburger span {
    position: absolute;
    height: 2px;
    width: 25px;
    display: block;
    margin-bottom: 4px;
    transition: 0.5s all;
    background-color: white;
  }
  .hamburger span:nth-child(1) {
    top: 11px;
    right: 5px;
  }
  .hamburger span:nth-child(2) {
    top: 17px;
    right: 5px;
  }
  .hamburger span:nth-child(3) {
    top: 23px;
    right: 5px;
  }
}

.active {
  display: flex;
}
.active span:nth-child(1) {
  transform: translateY(6px) rotate(-45deg);
}
.active span:nth-child(2) {
  display: none;
}
.active span:nth-child(3) {
  transform: translateY(-6px) rotate(45deg);
}

.white {
  background-color: #778899;
}

.show {
  display: block;
}

.header-section {
  min-height: 55vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header15.jpg) center/cover;
  margin-bottom: 40px;
}
.header-section__header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
  text-shadow: 3px 3px 3px #000000;
}
.header-section__main {
  display: flex;
  align-items: center;
  height: 35vh;
}
.header-section__text-content {
  color: white;
  text-shadow: 3px 3px 3px #000000;
}
.header-section__content-title {
  font-size: 54px;
  font-family: "Caveat", cursive;
  margin-bottom: 15px;
}
@media (max-width: 530px) {
  .header-section__content-title {
    font-size: 36px;
  }
}
.header-section__content-description {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  font-weight: 600;
}
.header-section__show-button {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}
.header-section__show-link {
  font-size: 13px;
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.featured-section {
  display: flex;
  flex-direction: column;
}
.featured-section__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 530px) {
  .featured-section__content {
    flex-direction: column;
    align-items: center;
  }
}
.featured-section__line {
  color: #CC5500;
}
.featured-section__title {
  text-align: center;
  color: #001a33;
  margin-bottom: 20px;
}
.featured-section__allproducts-link {
  font-size: 10px;
  padding: 5px;
  align-self: center;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  background-color: #CC5500;
  font-family: "Montserrat", sans-serif;
}

.about-section__header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #001a33;
  margin-bottom: 20px;
  font-weight: 600;
}
.about-section__block-name {
  margin-bottom: 60px;
}
.about-section__text-content {
  max-width: 650px;
}
.about-section__text-line {
  color: #CC5500;
  font-size: 32px;
  font-weight: 600;
}
.about-section__text-title {
  text-align: center;
  font-size: 32px;
  color: #001a33;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}
.about-section__text {
  color: #778899;
  font-family: "Montserrat", sans-serif;
}

.block-name {
  height: 15vh;
  background-color: #F0F8FF;
}
.block-name__title {
  padding-top: 40px;
  font-size: 29px;
  font-family: "Montserrat", sans-serif;
  color: #778899;
}

.products-section__header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #001a33;
  margin-bottom: 20px;
  font-weight: 600;
}
.products-section__block-name {
  margin-bottom: 50px;
}

.content-section {
  display: flex;
}
@media (max-width: 530px) {
  .content-section {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
}
.content-section__filter-menu {
  width: 25%;
}
@media (max-width: 530px) {
  .content-section__filter-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 25px;
    margin-bottom: 25px;
  }
}
.content-section__input {
  background-color: #F0F8FF;
  border: none;
  border-radius: 2px;
  width: 150px;
  padding: 5px;
}
.content-section__search-input {
  margin-bottom: 5px;
}
.content-section__filter-title {
  font-family: "Montserrat", sans-serif;
  color: #001a33;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 5px;
}
.content-section__filter-name {
  color: #778899;
  margin-bottom: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  cursor: pointer;
}
.content-section__filters {
  margin-bottom: 5px;
}
.content-section__slider-title {
  font-family: "Montserrat", sans-serif;
  color: #001a33;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 5px;
}
.content-section__range {
  width: 120px;
}
.content-section__price {
  color: #778899;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}
.content-section__content {
  padding: 0 15px;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 20px;
}
@media (max-width: 530px) {
  .content-section__content {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
}